@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@import "tailwindcss";

@theme {
  --font-pixel: "Press Start 2P", "Galmuri11", "Galmuri9", system-ui;
  --color-pixel-bg: #0f172a;
  --color-pixel-panel: #1e293b;
  --color-pixel-border: #000000;

  --shadow-pixel: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --shadow-pixel-hover: 6px 6px 0px 0px rgba(0, 0, 0, 1);
}

:root {
  font-family: var(--font-pixel);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: var(--color-pixel-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}